.districtMeet-div-icon {
        background-color: yellow;
        text-align: center;
        border: 2px solid black;
        border-radius: 50%;
        padding-top: 2px;
        padding-bottom: 5px;
      }


 .rank1-div-icon {
	      font-size: xx-small;
        background-color: red;
        text-align: center;
        border: 2px solid black;
        border-radius: 50%;
        padding-top: 2px;
      }

      .rank2-div-icon {
	      font-size: xx-small;
        background-color: red;
        text-align: center;
        border: 2px solid black;
        border-radius: 50%;
        padding-top: 2px;
      }

      .rank3-div-icon {
	      font-size: xx-small;
        background-color: red;
        text-align: center;
        border: 2px solid black;
        border-radius: 50%;
        padding-top: 2px;
      }


      .rank4-div-icon {
	      font-size: xx-small;
        background-color: red;
        text-align: center;
        border: 2px solid black;
        border-radius: 50%;
        padding-top: 2px;
      }


      .rank4-div-icon {
	      font-size: xx-small;
        background-color: red;
        text-align: center;
        border: 2px solid black;
        border-radius: 50%;
        padding-top: 2px;
      }

      .rank5-div-icon {
	      font-size: xx-small;
        background-color: red;
        text-align: center;
        border: 2px solid black;
        border-radius: 50%;
        padding-top: 2px;
      }

      .rank6-div-icon {
	      font-size: xx-small;
        background-color: red;
        text-align: center;
        border: 2px solid black;
        border-radius: 50%;
        padding-top: 2px;

      }

      .rank7-div-icon {
	      font-size: xx-small;
        background-color: red;
        text-align: center;
        border: 2px solid black;
        border-radius: 50%;
        padding-top: 2px;
      }

      .rank8-div-icon {
	      font-size: xx-small;
        background-color: red;
        text-align: center;
        border: 2px solid black;
        border-radius: 50%;
        padding-top: 2px;
      }

      .rank9-div-icon {
	      font-size: xx-small;
        background-color: red;
        text-align: center;
        border: 2px solid black;
        border-radius: 50%;
        padding-top: 2px;
      }

      .rank10-div-icon {
	      font-size: xx-small;
        background-color: red;
        text-align: center;
        border: 2px solid black;
        border-radius: 50%;
        padding-top: 2px;
      }

      .rank11-div-icon {
	      font-size: xx-small;
        background-color: red;
        text-align: center;
        border: 2px solid black;
        border-radius: 50%;
        padding-top: 2px;
      }


      .rank12-div-icon {
       font-size: xx-small;
        background-color: red;
        text-align: center;
        border: 2px solid black;
        border-radius: 50%;
        padding-top: 2px;
      }

      .rank13-div-icon {
        font-size: xx-small;
        background-color: red;
        text-align: center;
        border: 2px solid black;
        border-radius: 50%;
        padding-top: 2px;
      }

      .rank14-div-icon {
        font-size: xx-small;
        background-color: red;
        text-align: center;
        border: 2px solid black;
        border-radius: 50%;
        padding-top: 2px;
      }

      .rank15-div-icon {
	    font-size: xx-small;
        background-color: red;
        text-align: center;
        border: 2px solid black;
        border-radius: 50%;
        padding-top: 2px;
      }

            .rank16-div-icon {
	    font-size: xx-small;
        background-color: red;
        text-align: center;
        border: 2px solid black;
        border-radius: 50%;
        padding-top: 2px;
      }

      .rankW-div-icon {
	    font-size: xx-small;
        text-align: center;
        border: 2px solid black;
        border-radius: 20%;
        background-color: white;
        padding-top: 1px;
      }

	  .rankN-div-icon {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 15%;
      }


     .rank-div-icon {
        background-color: yellow;

      }
